<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExchangeMaster.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8E21A543FBCCFA7B84C7D50D83208DD19797A2B6</string>
				<key>dateExpires</key>
				<string>1/29/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MR92AY2246.com.JannatHayat.ExchangeMaster</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>MR92AY2246</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ExchangeMaster.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6d832618-c854-4ce2-a330-6c7d4eed5476</string>
				<key>dateExpires</key>
				<string>1/29/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.JannatHayat.ExchangeMaster</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MR92AY2246</string>
				<key>name</key>
				<string>Jannat Hayat</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
